section#main {
  box-sizing: border-box;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  height: 95%;
  width: 100%;
  top: 5%;
  padding: 20px;
  background-color: #222;
}
/* 
  I like width to be 87.5% of the height for this container
*/
.game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  height: 70%;
  width: 61.25%;
  padding: 2%;
  background-color: rgb(169 169 169 / 62%);
  border-radius: 15px;
  box-shadow: 0px 1px 2px 0px rgba(193, 193, 193, 0.28),
            1px 2px 4px 0px rgba(193, 193, 193, 0.28),
            2px 4px 8px 0px rgba(193, 193, 193, 0.28),
            2px 4px 16px 0px rgba(193, 193, 193, 0.28);
}

.user-input-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 16%;
  width: 22%;
  margin: 0 auto;
}
.user-input-container #text-input {
  height: 45%;
  width: 85%;
  border-bottom: 1px solid grey;
  border-radius: 30px;
  background-color: whitesmoke;
  text-align: center;
  font-size: 125%;
  color: rgb(89, 89, 98);
}
.user-input-container #text-submit {
  height: 40%;
  width: 50%;
  border: none;
  border-radius: 30px;
  margin-bottom: 4%;
  background-color: rgb(109, 107, 236);
  color: rgb(226, 226, 226);
}
.user-input-container #text-submit:hover {
  background-color: rgb(90, 88, 206);
}
.user-input-container #text-submit:active {
  background-color: rgb(68, 67, 153);
}

.guesses-results-container {
  margin-bottom: 5%;
  width: 25%;
  text-align: center;
}
.guesses-results-container span {
  display: block;
}

.guitar-container {
  width: 90%;
  height: 42%;
}